<div class="flex flex-col gap-4">
  <div class="grid grid-cols-2 gap-4">
    <fieldset class="fieldset">
      <legend class="fieldset-legend">Duration (ms)</legend>
      <input
        type="number"
        class="input w-full"
        [formField]="timeoutsForm.duration"
        id="durationInput"
      />
    </fieldset>

    <fieldset class="fieldset">
      <legend class="fieldset-legend">Hover Exit Duration (ms)</legend>
      <input
        type="number"
        class="input w-full"
        [formField]="timeoutsForm.resumeDuration"
        id="resumeDurationInput"
      />
    </fieldset>

    <fieldset class="fieldset">
      <legend class="fieldset-legend">Max Toasts (0 = Infinite)</legend>
      <input
        type="number"
        class="input w-full"
        [formField]="timeoutsForm.maxOpened"
        id="maxOpenedInput"
      />
    </fieldset>

    <fieldset class="fieldset">
      <legend class="fieldset-legend">Animation Duration (ms)</legend>
      <input
        type="number"
        class="input w-full"
        [formField]="timeoutsForm.animationDuration"
        id="animationDurationInput"
      />
    </fieldset>
  </div>

  <label class="flex items-center gap-3 cursor-pointer mt-2">
    <input
      type="checkbox"
      class="toggle toggle-md"
      [formField]="timeoutsForm.autoDismiss"
      id="autoDismissToggle"
    />
    <span class="text-sm leading-none">Auto dismiss on max</span>
  </label>
</div>
